<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Welcome to Khana Khajana</title>
    <meta name="description" content="Simple HTML5 Page layout template with header, footer, sidebar etc.">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>

<body>
	<header>
		<div id="logo"><img src="../static/logo.png">Khana &nbsp;Khajana</div>
		<nav>  
			<ul>
				<li><a href="{{url_for('index')}}">Home</a>
				<li><a href="{{url_for('maharashtrian')}}">Maharashtrain</a>
				<li><a href="{{url_for('south')}}">South</a>
				<li><a href="{{url_for('search1')}}">Search1</a>
				
			</ul>
		</nav>
	</header>
	<section>
		<strong>“A recipe has no soul. You, as the cook, must bring soul to the recipe.”</strong>
	</section>
	<section>
	        <form method="POST" action="{{url_for('getdata')}}">
			    <label for="name">name</label>
				<input type="varchar" name = "name" id="name"/>

				<input type="submit" name="search" value="seach"/>
	
	</section>
	<section id="pageContent">
		<main role="main">
		    {% for item in row %}
			     <tr align="center">
				     <td>{{item}}</td>
					 <br><br>
				</tr>
			{% endfor%}

		</main>
		<aside>
		
			<br><br><br><br><br><div><img src="../static/indian.png"></div><br>
			<div><img src="../static/south.png"></div>
			<div><img src="../static/punjabi.jpg"></div>
		</aside>
	</section>
	<footer>
		<p>&copy; You can copy, edit and publish this template but please leave a link to our website | <a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a></p>
		<address>
			Contact: <a href="mailto:me@example.com">Mail me</a>
		</address>
	</footer>


</body>

</html>